.alert-alert{
  @extend .alert-danger;
}
.alert-notice{
  @extend .alert-success;
}
@import "/*";
@import "bootstrap";
@import "tether";

#chatbox{
  height: 250px;
  border: solid 1px #222222;
  overflow-y: scroll;
}